.container {
  max-width: 300px;
  margin: 50px auto;
  overflow: auto;
  min-height: 200px;
  border: 5px solid white;
  padding: 30px;
  border-radius: 10px;
}

.container-topicos{
  background: gainsboro;
  padding: 10px;
  border-radius: 10px;
  color: black;
  text-align-last: center;
}

.titulo{
  margin-bottom: 10px;
}

.celcius{
  font-size: 50px;
}

.icones{
  width: 120px;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: -20px;
}

